#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.directory{
  border-radius: 10px;
  background-image: url('/background-img.jpg');
  background-repeat: no-repeat;
  background-size: 100% 400px;
}

@media screen and (max-width: 576px) {
  .directory{
    background-size: 100% 240px;
  }
}